<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnVyDufsOO0HSaT7oFS0tMM_NYB8YK_EE</string>
	<key>GCM_SENDER_ID</key>
	<string>158067313028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectgateapp</string>
	<key>PROJECT_ID</key>
	<string>connectgate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>connectgate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158067313028:ios:7fbd47fd1c56d72fc6b5d1</string>
	<key>DATABASE_URL</key>
	<string>https://connectgate-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>